<!DOCTYPE html>
<html>
<head>
  <title>{% block title "Mon site " %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
  <style>
    body {
      padding-top: 5rem;
    }
  </style>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mon super site</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item {{ is_subpath('shop') ? 'active' }}">
      <a class="nav-link" href="{{ path('shop') }}">Boutique</a>
    </li>
    <li class="nav-item {{ is_subpath('blog.index') ? 'active' }}">
      <a class="nav-link" href="{{ path('blog.index') }}">Blog</a>
    </li>
    <li class="nav-item {{ is_subpath('contact') ? 'active' }}">
      <a class="nav-link" href="{{ path('contact') }}">Contact</a>
    </li>
  </ul>
  <div class="navbar-nav">
    {% if module_enabled('basket') %}
      <div class="nav-item">
        <a href="{{ path('basket') }}" class="nav-link"><span class="oi oi-basket"></span> Mon panier
          ({{ basket_count() }})</a>
      </div>
    {% endif %}
    {% if current_user() %}

      {% if module_enabled('basket') %}
        <div class="nav-item">
          <a href="{{ path('basket.orders') }}" class="nav-link">Mes commandes</a>
        </div>
      {% else %}
        <div class="nav-item">
          <a href="{{ path('shop.purchases') }}" class="nav-link">Mes achats</a>
        </div>
      {% endif %}
      <form method="post" action="{{ path('auth.logout') }}">
        {{ csrf_input() }}
        <button class="btn btn-danger">Se déconnecter</button>
      </form>
    {% else %}
      <div class="nav-item active">
        <a class="nav-link" href="{{ path('auth.login') }}">Se connecter</a>
      </div>
      <div class="nav-item active">
        <a class="nav-link" href="{{ path('account.signup') }}">S'inscrire</a>
      </div>
    {% endif %}
  </div>
</nav>

<div class="container">

  {% if flash('success') %}
    <div class="alert alert-success">
      {{ flash('success') }}
    </div>
  {% endif %}

  {% if flash('error') %}
    <div class="alert alert-danger">
      {{ flash('error') }}
    </div>
  {% endif %}

  {% block body %}{% endblock %}

</div><!-- /.container -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.locales.min.js"></script>
<script>
  timeago().render(document.querySelectorAll('.timeago'), 'fr')
</script>
</body>
</html>